.frameratingulasan-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frameratingulasan-frameratingulasan {
  width: 100%;
  height: 462px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.frameratingulasan-text {
  top: 58px;
  left: 129px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frameratingulasan-text2 {
  top: 120px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 623px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frameratingulasan-text4 {
  top: 248px;
  left: 41px;
  color: rgba(0, 0, 0, 0.800000011920929);
  width: 623px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frameratingulasan-rectangle65 {
  top: 238px;
  left: 164px;
  width: 402px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.frameratingulasan-rectangle66 {
  top: 376px;
  left: 474px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 10px;
}
.frameratingulasan-text6 {
  top: 377px;
  left: 486px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frameratingulasan-image10 {
  top: 170px;
  left: 246px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.frameratingulasan-image11 {
  top: 170px;
  left: 296px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.frameratingulasan-image12 {
  top: 170px;
  left: 344px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.frameratingulasan-image13 {
  top: 170px;
  left: 394px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.frameratingulasan-image14 {
  top: 170px;
  left: 443px;
  width: 38px;
  height: 38px;
  position: absolute;
}
