.pelanggantoklis1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pelanggantoklis1-pelanggantoklis {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-pulsaform {
  top: 198px;
  left: 336px;
  width: 785px;
  height: 826px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-isipulsa {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(72, 80, 155, 1);
}
.pelanggantoklis1-back {
  top: 11px;
  left: 15px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-frame {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.pelanggantoklis1-text {
  top: 13.330078125px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-form {
  top: 54px;
  left: 0px;
  width: 768px;
  height: 212.3300018310547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-navbar {
  gap: 64px;
  top: 0px;
  left: 91px;
  width: 1440px;
  height: 136px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-frame2 {
  display: flex;
  align-items: center;
}
.pelanggantoklis1-frame1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.pelanggantoklis1-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Port Lligat Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-line113 {
  width: 75px;
  height: 1px;
}
.pelanggantoklis1-image5 {
  width: 60px;
  height: 60px;
}
.pelanggantoklis1-beranda {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text04 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-beranda1 {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-beranda2 {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text08 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-beranda3 {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text10 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-pulsa {
  top: 186px;
  left: 336px;
  width: 768px;
  height: 838px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-toklis {
  top: 54px;
  left: 0px;
  width: 768px;
  height: 772px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-divboxordere {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-divboxorderu {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-divformgroup {
  top: 15px;
  left: 15px;
  width: 738px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-inputidplgntokenpln {
  top: 0px;
  left: 0px;
  width: 738px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-pseudo {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  width: 705px;
  height: 17.329999923706055px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text12 {
  color: rgba(0, 0, 0, 1);
  width: 706px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-labellabel {
  top: -9px;
  left: 16px;
  width: 80px;
  display: flex;
  padding: 0 1.5400009155273438px 1.3299999237060547px 2px;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-divboxorderi {
  top: 65px;
  left: 0px;
  width: 768px;
  height: 78.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-divboxordera {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 78.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-divformgroup1 {
  top: 15px;
  left: 15px;
  width: 738px;
  height: 48.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-selectplhpdtokenpln {
  top: 0px;
  left: 0px;
  width: 738px;
  height: 48.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-pseudo1 {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  width: 705px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text16 {
  color: rgba(0, 0, 0, 1);
  width: 706px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-labellabel1 {
  top: -9px;
  left: 16px;
  width: 55px;
  display: flex;
  padding: 0 2.2099990844726562px 1.3299999237060547px 2px;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-selectplhpdpulsa {
  top: 142px;
  left: 15px;
  width: 738px;
  height: 48.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-pseudo2 {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  width: 705px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-text20 {
  color: rgba(0, 0, 0, 1);
  width: 706px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-svgh2dc802cc9c {
  top: 12px;
  left: 698px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.pelanggantoklis1-text22 {
  top: 133px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-ulactpd {
  top: 214px;
  left: 15px;
  width: 738px;
  height: 558px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantoklis1-buttonbtn {
  top: 70.330078125px;
  left: 0px;
  width: 738px;
  height: 84.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text24 {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text26 {
  top: 33.66999816894531px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text28 {
  top: 51px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-buttonbtn1 {
  top: 165px;
  left: 0px;
  width: 738px;
  height: 84.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text30 {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text32 {
  top: 33.65999984741211px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text34 {
  top: 51px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-buttonbtn2 {
  top: 259.66015625px;
  left: 0px;
  width: 738px;
  height: 84.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text36 {
  top: 16.34000015258789px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text38 {
  top: 33.66999816894531px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text40 {
  top: 51px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-buttonbtn3 {
  top: 354.330078125px;
  left: 0px;
  width: 738px;
  height: 84.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text42 {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text44 {
  top: 33.66999816894531px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text46 {
  top: 51px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-buttonbtn4 {
  top: 449px;
  left: 0px;
  width: 738px;
  height: 84.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text48 {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text50 {
  top: 33.65999984741211px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text52 {
  top: 51px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-buttonbtn5 {
  top: 543.66015625px;
  left: 0px;
  width: 738px;
  height: 84.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text54 {
  top: 16.34000015258789px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text56 {
  top: 33.66999816894531px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-text58 {
  top: 51px;
  left: 16.329999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 69px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantoklis1-divboxorderb {
  top: 214px;
  left: 0px;
  width: 768px;
  height: 55.33000183105469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1.3333300352096558px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantoklis1-text60 {
  top: 17.65999984741211px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 61px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
