.pelanggantelpon-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pelanggantelpon-pelanggantelpon {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(150deg, rgba(255, 255, 255, 1) 100%, rgba(53, 59, 120, 1) 100%);
}
.pelanggantelpon-pulsa {
  top: 186px;
  left: 336px;
  width: 768px;
  height: 517.3300170898438px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-pulsaform {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 266.3299865722656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-isipulsa {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(72, 80, 155, 1);
}
.pelanggantelpon-back {
  top: 15px;
  left: 15px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-frame {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.pelanggantelpon-text {
  top: 17px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-form {
  top: 54px;
  left: 0px;
  width: 768px;
  height: 212.3300018310547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-nohp {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 142.3300018310547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-form1 {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 142.3300018310547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-nohpgrup {
  top: 15px;
  left: 15px;
  width: 738px;
  height: 49.33000183105469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-inputnmhp {
  top: 0px;
  left: 0px;
  width: 738px;
  height: 49.33000183105469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-labellabel {
  top: 1px;
  left: 4.5px;
  width: 743px;
  display: flex;
  padding: 14.329999923706055px 661px 15.000001907348633px 0;
  position: absolute;
  align-items: flex-start;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-text02 {
  top: 15px;
  left: 12.5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-provop {
  top: 79.33000183105469px;
  left: 15px;
  width: 738px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-prov {
  top: 0px;
  left: 0px;
  width: 738px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-prov1 {
  top: 15.670000076293945px;
  left: 15.670000076293945px;
  width: 707px;
  height: 16.670000076293945px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-text04 {
  color: rgba(0, 0, 0, 1);
  width: 707px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16.66670036315918px;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-op {
  top: -8.330078125px;
  left: 14px;
  width: 51px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-text06 {
  top: 0.6700000166893005px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-selectplhpdpulsa {
  top: 150px;
  left: 14px;
  width: 738px;
  height: 48.66999816894531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-pseudo {
  top: 16.329999923706055px;
  left: 16.329999923706055px;
  width: 705px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-text08 {
  color: rgba(0, 0, 0, 1);
  width: 706px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-svgh2dc802cc9c {
  top: 12px;
  left: 698px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.pelanggantelpon-text10 {
  top: 142px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-nom {
  top: 266px;
  left: 0px;
  width: 768px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 240, 241, 1);
  border-style: solid;
  border-width: 0.6666669845581055px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-text12 {
  top: 18.170000076293945px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 61px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-navbar {
  gap: 64px;
  top: 0px;
  left: 135px;
  width: 1440px;
  height: 136px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pelanggantelpon-frame2 {
  display: flex;
  align-items: center;
}
.pelanggantelpon-frame1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.pelanggantelpon-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Port Lligat Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-line113 {
  width: 75px;
  height: 1px;
}
.pelanggantelpon-image5 {
  width: 60px;
  height: 60px;
}
.pelanggantelpon-beranda {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-text16 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-beranda1 {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-beranda2 {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-text20 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pelanggantelpon-beranda3 {
  width: 86px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.pelanggantelpon-text22 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
